#submit{
  font-family: Avenir-Book;
  color: #FFFFFF;
  letter-spacing: 0px;
  line-height: 30px;
  border-radius: 0;
  -webkit-appearance: none;
  background: #FF0053;
  border: 0;
  box-shadow: none;
}
