<!-- extend base layout -->
{% extends "base_test.html" %}

{%block head%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css" />

<link rel="stylesheet" href="{{url_for("static", filename = "bower_components/bootstrap/dist/css/bootstrap.min.css")}}" />
<link rel="stylesheet" href="{{url_for("static", filename = "date_picker.css")}}" />
<link type="text/css" href="{{url_for("static", filename = "timepicker/bootstrap-timepicker/css/bootstrap-timepicker.min.css")}}" />
<script type="text/javascript" src="{{url_for("static", filename = "timepicker/bootstrap-timepicker/js/bootstrap-timepicker.min.js")}}"></script>




{%endblock%}
{%block content%}


<div class = "container" id="datepicker-page-content">
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<div class="form-group">
			<label for="date" class="date-header">PICK DATES</label>
			<input class = "form-control datepicker" id="dates" name = "dates" type="text" placeholder=". . ."/>
		</div>

		<div class="form-group">
			<label for="time" class="date-header">TIME</label>
					<input id="time" type="time" class="form-control timepick">
		</div>

		<div class="form-group">
			{{ form.submit (class ="btn btn-default btn-block")}}
		</div>
	</form>

<!--
<script type="text/javascript">
$('.timepick').timepicker({
});
</script>

-->



<script type="text/javascript">
$('.datepicker').datepicker({
	multidate: true,
	multidateSeparator: ",",
	format: "dd/mm/yyyy",
});
$('.datepicker').on('focus',function()
    {
        $(this).trigger('blur');
    });
</script>




{% endblock %}
