{% extends "base_test.html" %}
{%block head%}
<link rel="stylesheet" href="{{url_for("static", filename = "event_details_invited.css")}}" /> 


{%endblock%}

{% block content %}
 
<div class = "container">
	<div class = "row">
		<div class = "col-sm-12">
			<h2 style = "text-align: center"> {{ event.name }} </h2>
			<h4 style = "text-align: center"> 
				{%for eventdate in eventdates%}
					{%if eventdate.confirmed%}
						{{eventdate.date.strftime("%A %d %B")}}
					{%endif%}
				{%endfor%}
			</h4>
			<h4 style = "text-align: center"> at </h4>
			<h4 style = "text-align: center"> {{event.location}} </h4>
			{%if admin.id == current_user.id%}
				<p style = "text-align: center"> You are the organiser</p>
			{%else%}
				<p style = "text-align: center"> Invited by {{admin.firstname}} {{admin.surname}}</p>
			{%endif%}
		</div>
	</div>

	<div class = "container container-eventdate">
		<div class = "col-xs-4" style = "text-align:center">
			<h4> Attending: </h4>
				{%for eventdate in eventdates%}
					{%if eventdate.confirmed%}
						{%for invitee in invitees%}
							{%if invitee.eventdate.id == eventdate.id and invitee.status == 1%}
								<p>{{invitee.user.firstname}} {{invitee.user.surname}}</p>
							{%endif%}
						{%endfor%}
					{%endif%}
				{%endfor%}
		</div>
		<div class = "col-xs-4" style = "text-align:center">
			<h4> Can't Make It: </h4>
				{%for eventdate in eventdates%}
					{%if eventdate.confirmed%}
						{%for invitee in invitees%}
							{%if invitee.eventdate.id == eventdate.id and invitee.status == -1%}
								<p>{{invitee.user.firstname}} {{invitee.user.surname}}</p>
							{%endif%}
						{%endfor%}
					{%endif%}
				{%endfor%}
		</div>
		<div class = "col-xs-4" style = "text-align:center">
			<h4> Not Replied: </h4>
				{%for eventdate in eventdates%}
					{%if eventdate.confirmed%}
						{%for invitee in invitees%}
							{%if invitee.eventdate.id == eventdate.id and invitee.status == 0%}
								<p>{{invitee.user.firstname}} {{invitee.user.surname}}</p>
							{%endif%}
						{%endfor%}
					{%endif%}
				{%endfor%}
		</div>
	</div>
		
	

	{%if admin.id == current_user.id%}
	<div class = "container container-eventdate">
		<div class = "row eventdate-row">
			<div class = "col-xs-12">
				<a type = "button" class = "btn btn-danger btn-block" href="{{url_for("delete_event", event_id = event.id)}}" >
					Delete Event
				</a>
			</div>
		</div>
	{%endif%}
	

		<div class = "row eventdate-row">
			<div class = "col-xs-12">
				<a type = "button" class = "btn btn-default btn-block" href="{{url_for("index")}}" >
					Back to my events
				</a>
			</div>
		</div>
	</div>
</div>

		


{% endblock %}

 

