<!-- extend base layout -->
{% extends "base_test.html" %}

{%block head%}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css" />


<link type="text/css" href="{{url_for("static", filename = "timepicker/bootstrap-timepicker/css/bootstrap-timepicker.min.css")}}" />
<script type="text/javascript" src="{{url_for("static", filename = "timepicker/bootstrap-timepicker/js/bootstrap-timepicker.min.js")}}"></script>
{%endblock%}


{%block content%}


<div class = "container">
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<div class="form-group">
			<label for="date">Pick Dates:</label>
			<input class = "form-control datepicker" id="dates" name = "dates" type="text"/>
		</div>
		<div class = "form-group">
			<div class="input-group bootstrap-timepicker timepicker">
				<input id="timepicker1" name = "time" type="text" class="form-control input-small">
				<span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
			</div>
		</div>
		<div class="form-group">
			{{ form.submit (class ="btn btn-default btn-block")}}
		</div>
	</form>


<script type="text/javascript">
	$('#timepicker1').timepicker({
		appendWidgetTo: '.bootstrap-timepicker'
		}
	);
		
</script>

<script type="text/javascript">
$('.datepicker').datepicker({
	multidate: true,
	multidateSeparator: ",",
	format: "dd/mm/yyyy",
});
</script>



{% endblock %}