{% extends "base_test.html" %}
{%block head%}
<link rel="stylesheet" href="{{url_for("static", filename = "event_details_invited.css")}}" /> 
{%endblock%}

{% block content %}
 
 

  <div class = "container">
	<div class = "row">
		<div class = "col-sm-12">
			<h2 style = "text-align: center"> {{ event.name }} </h2>
			<h4 style = "text-align: center"> at </h4>
			<h4 style = "text-align: center"> {{event.location}} </h4>
			<p style = "text-align: center"> Invited by {{ admin.firstname}} {{ admin.surname}} </p>
		</div>
	</div>




	<div class = "row">
		<div class = "col-xs-12">
			<div class = "btn-group btn-group-justified">
				<a class = "btn btn-justified btn-default button_eventdate" style = "width:60%">
					<span class = "eventdate_title">Friday 19th February</span>
					<span class = "location_details"> 09:30 PM </span>
				</a>
				<a href="" class="btn btn-default button_tick_cross" style = "width:15%">
					<span class="glyphicon glyphicon-ok"></span>
				<a href="" class="btn btn-default button_tick_cross" style = "width:15%">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
				<a href="" class="btn btn-default dropdown-toggle btn-justified button_tick_cross" type="button" data-toggle="dropdown" style = "width:10%">
					<span class="glyphicon glyphicon-user"></span>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li class="dropdown-header">Attending</li>
					<li class = "disabled drop-down-item">Tiny Tim</li>
					<li class = "disabled drop-down-item">Bob Cratchet</li>
					<li class="divider"></li>
					<li class="dropdown-header">Not Attending</li>
					<li class = "disabled drop-down-item">Polly Pocket</li>
					<li class = "disabled drop-down-item">Polly Pooface</li>
					<li class="divider"></li>
					<li class="dropdown-header">Not replied</li>
					<li class = "disabled drop-down-item">Shaking Stevens</li>
				</ul>
			</div>
		</div>
	</div>




	{%for eventdate in eventdates%}
	<div class = "row" style = "padding-top:10px">
		<div class = "col-xs-12">
			<div class = "btn-group btn-group-justified">
				<a href="" class="btn btn-default btn-sm" style = "width:70%"> {{eventdate.date.strftime("%a %d %b")}} at {{eventdate.date.strftime("%I:%M %p")}} </a>
				{%for invitee in invitees%}
				{%if invitee.eventdate.id == eventdate.id and invitee.invited_id == current_user.id %} 	
					{%if invitee.status == 1%}
						<a href="{{url_for("confirm_attending", eventinvite_id = invitee.id)}}" class="btn btn-primary btn-sm" style = "width:10%">
							<span class="glyphicon glyphicon-ok"></span>
						</a>
					{%elif invitee.status != 1%}
						<a href="{{url_for("confirm_attending", eventinvite_id = invitee.id)}}" class="btn btn-default btn-sm" style = "width:10%">
							<span class="glyphicon glyphicon-ok"></span>
						</a>
					{%endif%}
					{%if invitee.status == -1%}
						<a href="{{url_for("cant_make_it", eventinvite_id = invitee.id)}}" class="btn btn-primary btn-sm" style = "width:10%">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					{%elif invitee.status != -1%}
						<a href="{{url_for("cant_make_it", eventinvite_id = invitee.id)}}" class="btn btn-default btn-sm" style = "width:10%">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					{%endif%}
				{%endif%}
				{%endfor%}
			
			
			<div class="dropdown">
				<div class = "btn-group" style= "width:10%">
					<button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" >
						<span class="glyphicon glyphicon-user"></span>
					</button>
					<ul class="dropdown-menu">
						<li class="dropdown-header">Attending</li>
						{%for invitee in invitees%}
							{%if invitee.eventdate.id == eventdate.id%} 	
								{%if invitee.status ==1%}
									<li class = "disabled"><a href="#">
									{%if invitee.invited_id == current_user.id%}
										You
									{%else%}
										{{invitee.user.firstname}} {{invitee.user.surname}}
									{%endif%}
									</a></li>
								{%endif%}
							{%endif%}
						{%endfor%}
						<li class="divider"></li>
						<li class="dropdown-header">Not Attending</li>
						{%for invitee in invitees%}
							{%if invitee.eventdate.id == eventdate.id%} 	
								{%if invitee.status ==-1%}
									<li class = "disabled"><a href="#">
									{%if invitee.invited_id == current_user.id%}
										You
									{%else%}
										{{invitee.user.firstname}} {{invitee.user.surname}}
									{%endif%}
									</a></li>
								{%endif%}
							{%endif%}
						{%endfor%}
						<li class="divider"></li>
						<li class="dropdown-header">Not replied</li>
						{%for invitee in invitees%}
							{%if invitee.eventdate.id == eventdate.id%} 	
								{%if invitee.status ==0%}
									<li class = "disabled"><a href="#">
									{%if invitee.invited_id == current_user.id%}
										You
									{%else%}
										{{invitee.user.firstname}} {{invitee.user.surname}}
									{%endif%}
									</a></li>
								{%endif%}
							{%endif%}
						{%endfor%}
					</ul>
				</div>	
			</div>
			
			</div>
		</div>
	</div>
	{%endfor%}	
		



{% endblock %}