{% extends "base.html" %}

{% block title %} Polly App {% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {%for key in events_dict.keys()%}
	<div class="col-sm-4">
	{%if events_dict[key]["replied"] == False%}
		<a href="{{url_for("event_details", event_id = events_dict[key]["event"].id)}}" class="btn btn-default btn-block ">
		<p> {{events_dict[key]["event"].name}}</p>
		<p>{% if events_dict[key]["admin"]%} Admin  {%endif%}  
		{% if events_dict[key]["eventdates"]| length > 1%} Multiple Dates 
		{% elif events_dict[key]["eventdates"]| length == 1%} Single Date
		{%endif%} </p>
		</a>
	
	{%	elif events_dict[key]["replied"] == True and events_dict[key]["confirmed"] == False%}
		<a href="{{url_for("event_details", event_id = events_dict[key]["event"].id)}}" class="btn btn-primary btn-block ">
		<p> {{events_dict[key]["event"].name}}</p>
		<p>{% if events_dict[key]["admin"]%} Admin  {%endif%}  
		{% if events_dict[key]["eventdates"]| length > 1%} Multiple Dates 
		{% elif events_dict[key]["eventdates"]| length == 1%} Single Date
		{%endif%} </p>
		</a>
	
	{%	elif events_dict[key]["replied"] == True and events_dict[key]["confirmed"] == True and events_dict[key]["attending"] == False%}
		<a href="{{url_for("event_details", event_id = events_dict[key]["event"].id)}}" class="btn btn-danger btn-block ">
		<p> {{events_dict[key]["event"].name}}</p>
		<p>{% if events_dict[key]["admin"]%} Admin  {%endif%}  
		{% if events_dict[key]["eventdates"]| length > 1%} Multiple Dates 
		{% elif events_dict[key]["eventdates"]| length == 1%} Single Date
		{%endif%} </p>
		</a>
	
	{%	elif events_dict[key]["replied"] == True and events_dict[key]["confirmed"] == True and events_dict[key]["attending"] == True%}
		<a href="{{url_for("event_details", event_id = events_dict[key]["event"].id)}}" class="btn btn-success btn-block ">
		<p> {{events_dict[key]["event"].name}}</p>
		<p>{% if events_dict[key]["admin"]%} Admin  {%endif%}  
		{% if events_dict[key]["eventdates"]| length > 1%} Multiple Dates 
		{% elif events_dict[key]["eventdates"]| length == 1%} Single Date
		{%endif%} </p>
		</a>
	
	{%endif%}
	
	
	</div>
	
	{%endfor%}
	
  </div>
</div>
{% endblock %}


