<!-- extend base layout -->
{% extends "base.html" %}
{%import "bootstrap/wtf.html" as wtf%}
{% block content %}


<div class = "container">
	<h1>{{event.name}}</h1>
	<div class = "row">
		<div class="col-sm-12">
			{{wtf.quick_form(form)}}
		</div>
	</div>
	

	<div class = "row">
		<div class = "col-sm-12"> 
			<h3> Existing Date Options </h3>
		</div>
		{%for eventdate in eventdates%}
		<div class = "col-sm-12"> {{eventdate.date.strftime("%I:%M %p")}} on {{eventdate.date.strftime("%A %d %B %Y")}} at {{eventdate.location}} </div>
	{% endfor %}
	</div>
	
		<div class = "row">
		<div class = "col-sm-12"> 
			<a href = "{{url_for("invites", event_id = event.id)}}" class = "btn btn-default"> Invite People</a>
		</div>
	</div>
</div>
{% endblock %}